<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>员工查询</title>
		<link rel="stylesheet" href="../../static/admin/layui2.0/css/layui.css" th:href="@{/static/admin/layui2.0/css/layui.css}">
		<link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css" th:href="@{/static/admin/css/admin.css}" />
	</head>

	<body>
		<div style="height: 693px" class="wrap-container clearfix">
				<div class="column-content-detail">
					<form  id="select_form" class="layui-form" method="get" th:action="@{/search_employee}" action="#">
						<div class="layui-form-item">
							<div class="layui-inline">
								<input type="text" name="name" id="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-inline">
								<select id="deptId" name="deptId" >
									<option value="">请选择部门</option>
									<option th:value="${deptss.did}" th:each="deptss:${deptss}" th:text="${deptss.dname}" value=""></option>
								</select>
							</div>
							<div class="layui-inline">
								<select id="jobId" name="jobId">
									<option value="">请选择角色</option>
									<option th:value="${jobss.jid}" th:each="jobss:${jobss}" th:text="${jobss.jname}" value=""></option>
								</select>
							</div>
							<button onclick="SearchEmp();" class="layui-btn layui-btn-normal">搜索</button>
						</div>


					</form>
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-even lay-skin="nob" style="display:inline-block; height: 570px; width: 100%; overflow-x: scroll">
							<colgroup>
								<col><col><col><col><col><col><col><col>
							</colgroup>
							<thead>
								<tr>
									<th nowrap="nowrap"><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
									<th nowrap="nowrap">编号</th>
									<th nowrap="nowrap">姓名</th>
									<th nowrap="nowrap">部门</th>
									<th nowrap="nowrap">职位</th>
									<th nowrap="nowrap">银行卡</th>
									<th nowrap="nowrap">地址</th>
									<th nowrap="nowrap">邮政编码</th>
									<th nowrap="nowrap">手机号</th>
									<th nowrap="nowrap">固定电话</th>
									<th nowrap="nowrap">qq</th>
									<th nowrap="nowrap">电子邮件</th>
									<th nowrap="nowrap">性别</th>
									<th nowrap="nowrap">政治面貌</th>
									<th nowrap="nowrap">出生日期</th>
									<th nowrap="nowrap">工资</th>
									<th nowrap="nowrap">教育程度</th>
									<th nowrap="nowrap">特长</th>
									<th nowrap="nowrap">爱好</th>
									<th nowrap="nowrap">入职时间</th>
									<th nowrap="nowrap">备注</th>
									<th nowrap="nowrap">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="employees:${employees}">
									<td nowrap="nowrap"><input type="checkbox" name="" lay-skin="primary" data-id="1"></td>
									<td nowrap="nowrap">[[${employees.id}]]</td>
									<td nowrap="nowrap">[[${employees.name}]]</td>
									<td nowrap="nowrap">[[${employees.Dept.dname}]]</td>
									<td nowrap="nowrap">[[${employees.Job.jname}]]</td>
									<td nowrap="nowrap">[[${employees.cardId}]]</td>
									<td nowrap="nowrap">[[${employees.address}]]</td>
									<td nowrap="nowrap">[[${employees.postCode}]]</td>
									<td nowrap="nowrap">[[${employees.phone}]]</td>
									<td nowrap="nowrap">[[${employees.tel}]]</td>
									<td nowrap="nowrap">[[${employees.qqNum}]]</td>
									<td nowrap="nowrap">[[${employees.email}]]</td>
									<td nowrap="nowrap">[[${employees.sex}]]</td>
									<td nowrap="nowrap">[[${employees.party}]]</td>
									<td nowrap="nowrap" th:text="${#dates.format(employees.birthday,'yyyy-MM-dd')}"></td>
									<td nowrap="nowrap">[[${employees.race}]]</td>
									<td nowrap="nowrap">[[${employees.education}]]</td>
									<td nowrap="nowrap">[[${employees.speciality}]]</td>
									<td nowrap="nowrap">[[${employees.hobby}]]</td>
									<td nowrap="nowrap" th:text="${#dates.format(employees.createDate,'yyyy-MM-dd')}"></td>
									<td nowrap="nowrap">[[${employees.remark}]]</td>
									<td nowrap="nowrap">
										<div class="layui-inline">
											<button th:attr="del_url=@{/delete_employee(id=${employees.id})}" class="layui-btn layui-btn-small layui-btn-danger delete_btn" data-id="1" data-url=""><i class="layui-icon">&#xe640;</i></button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			<form id="del_form" method="post">
				<input type="hidden" name="_method" value="DELETE">
			</form>
		</div>
		<script src="../../static/admin/layui/layui.js" th:src="@{/static/admin/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
		<script src="../static/admin/js/jquery-3.5.1.js" th:src="@{/static/admin/js/jquery-3.5.1.js}"></script>
		<script src="../../static/admin/js/common.js" th:src="@{/static/admin/js/common.js}" type="text/javascript" charset="utf-8"></script>
		<script>
			$(".delete_btn").click(function () {

				$("#del_form").attr("action",$(this).attr("del_url")).submit();
				return false;
			})

			function SearchEmp() {
				if($('#name').val() == "" && $('#deptId').val() == "" && $('#jobId').val() == "") {
					alert("请任意选择一项条件查询");
				}

			}

		</script>
	</body>

</html>
