<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>员工查询</title>
		<link rel="stylesheet" href="../../static/admin/layui2.0/css/layui.css" th:href="@{/static/admin/layui2.0/css/layui.css}">
		<link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css" th:href="@{/static/admin/css/admin.css}" />
	</head>

	<body>
		<div style="height: 693px" class="wrap-container clearfix">
				<div class="column-content-detail">
					<form  id="select_form" class="layui-form" method="get" th:action="@{/search_employee}" action="#">
						<div class="layui-form-item">
							<div class="layui-inline">
								<input type="text" name="name" id="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-inline">
								<select id="deptId" name="deptId" >
									<option value="">请选择部门</option>
									<option th:value="${deptss.did}" th:each="deptss:${deptss}" th:text="${deptss.dname}" value=""></option>
								</select>
							</div>
							<div class="layui-inline">
								<select id="jobId" name="jobId">
									<option value="">请选择角色</option>
									<option th:value="${jobss.jid}" th:each="jobss:${jobss}" th:text="${jobss.jname}" value=""></option>
								</select>
							</div>
							<button onclick="SearchEmp();" class="layui-btn layui-btn-normal">搜索</button>
						</div>


					</form>
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-even lay-skin="nob" style="display:inline-block; height: 570px; width: 100%; overflow-x: scroll">
							<colgroup>
								<col><col><col><col><col><col><col><col>
							</colgroup>
							<thead>
								<tr>
									<th nowrap="nowrap"><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
									<th nowrap="nowrap">编号</th>
									<th nowrap="nowrap">姓名</th>
									<th nowrap="nowrap">部门</th>
									<th nowrap="nowrap">职位</th>
									<th nowrap="nowrap">银行卡</th>
									<th nowrap="nowrap">地址</th>
									<th nowrap="nowrap">邮政编码</th>
									<th nowrap="nowrap">手机号</th>
									<th nowrap="nowrap">固定电话</th>
									<th nowrap="nowrap">qq</th>
									<th nowrap="nowrap">电子邮件</th>
									<th nowrap="nowrap">性别</th>
									<th nowrap="nowrap">政治面貌</th>
									<th nowrap="nowrap">出生日期</th>
									<th nowrap="nowrap">工资</th>
									<th nowrap="nowrap">教育程度</th>
									<th nowrap="nowrap">特长</th>
									<th nowrap="nowrap">爱好</th>
									<th nowrap="nowrap">入职时间</th>
									<th nowrap="nowrap">备注</th>
									<th nowrap="nowrap">操作</th>
								</tr>
							</thead>
							<tbody id="table">
								<tr th:each="employees:${employees}">
									<td nowrap="nowrap"><input type="checkbox" name="" lay-skin="primary" data-id="1"></td>
									<td nowrap="nowrap">[[${employees.id}]]</td>
									<td nowrap="nowrap">[[${employees.name}]]</td>
									<td nowrap="nowrap">[[${employees.Dept.dname}]]</td>
									<td nowrap="nowrap">[[${employees.Job.jname}]]</td>
									<td nowrap="nowrap">[[${employees.cardId}]]</td>
									<td nowrap="nowrap">[[${employees.address}]]</td>
									<td nowrap="nowrap">[[${employees.postCode}]]</td>
									<td nowrap="nowrap">[[${employees.phone}]]</td>
									<td nowrap="nowrap">[[${employees.tel}]]</td>
									<td nowrap="nowrap">[[${employees.qqNum}]]</td>
									<td nowrap="nowrap">[[${employees.email}]]</td>
									<td nowrap="nowrap">[[${employees.sex}]]</td>
									<td nowrap="nowrap">[[${employees.party}]]</td>
									<td nowrap="nowrap" th:text="${#dates.format(employees.birthday,'yyyy-MM-dd')}"></td>
									<td nowrap="nowrap">[[${employees.race}]]</td>
									<td nowrap="nowrap">[[${employees.education}]]</td>
									<td nowrap="nowrap">[[${employees.speciality}]]</td>
									<td nowrap="nowrap">[[${employees.hobby}]]</td>
									<td nowrap="nowrap" th:text="${#dates.format(employees.createDate,'yyyy-MM-dd')}"></td>
									<td nowrap="nowrap">[[${employees.remark}]]</td>
									<td nowrap="nowrap">
										<div class="layui-inline">
											<a class="layui-btn layui-btn-xs layui-btn-normal" th:href="@{/getemp/}+${employees.id}" ><i class="layui-icon">&#xe642;</i></a>
											<button th:attr="del_url=@{/delete_employee(id=${employees.id})}" class="layui-btn layui-btn-xs layui-btn-danger delete_btn" data-id="2" data-url=""><i class="layui-icon">&#xe640;</i></button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			<form id="del_form" method="post">
				<input type="hidden" name="_method" value="DELETE">
			</form>
		</div>
		<div style="display: none" id="text" th:each="employees:${employees}">
			<form id="modify_form" onsubmit="return false" action="#" method="post" class="layui-form" style="width: 90%;padding-top: 20px;">

				<input id="id" name="id" value="" hidden>
				<div class="layui-form-item">

					<label class="layui-form-label">部门：</label>
					<div class="layui-inline">
						<select id="did" name="deptId" lay-filter="dept">
							<option value=""></option>
							<option  th:value="${deptss.did}"  th:each="deptss:${deptss}">[[${deptss.dname}]]</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">职位：</label>
					<div class="layui-inline">
						<select id="jid" name="jobId" lay-filter="job">
							<option value="0"></option>
							<option th:value="${jobss.jid}"  th:each="jobss:${jobss}">[[${jobss.jname}]]</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">学历：</label>
					<div class="layui-inline">
						<select id="education" name="education" lay-filter="education" disabled>
							<option value="0"></option>
							<option value="本科" >本科</option>
							<option value="大专" >大专</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">性别：</label>
					<div class="layui-inline">
						<select id="sex" name="sex" lay-filter="sex" disabled>
							<option value="0"></option>
							<option value="1" >男</option>
							<option value="2" >女</option>
						</select>
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">政治面貌：</label>
					<div class="layui-inline">
						<select id="party" name="party" lay-filter="party">
							<option value="0"></option>
							<option value="1" >党员</option>
							<option value="2" >团员</option>
							<option value="3" >群众</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">出生日期：</label>
					<div class="layui-inline">
						<input id="birthday" name="birthday" type="date" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">工资：</label>
					<div class="layui-inline">
						<input id="race" name="race" type="text" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label class="layui-form-label">姓名：</label>
					<div class="layui-input-block">
						<input id="names" type="text" name="name" autocomplete="off"
							   class="layui-input" readonly="readonly">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">卡号：</label>
					<div class="layui-input-block">
						<input id="cardId" type="text" name="cardId" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>

				<hr class="layui-bg-green">

				<div class="layui-form-item">
					<label class="layui-form-label">常住地址：</label>
					<div class="layui-input-block">
						<input id="address" type="text" name="address" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">邮政编码：</label>
					<div class="layui-input-block">
						<input id="postCode" type="text" name="postCode" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>

				<hr class="layui-bg-green">

				<div class="layui-form-item">
					<label class="layui-form-label">固定电话：</label>
					<div class="layui-input-block">
						<input id="tel" type="text" name="tel" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">手机号码：</label>
					<div class="layui-input-block">
						<input type="text" id="phone" name="phone" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">qq：</label>
					<div class="layui-input-block">
						<input id="qqNum" type="text" name="qqNum" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">电子邮箱：</label>
					<div class="layui-input-block">
						<input id="email" type="email" name="email" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>

				<hr class="layui-bg-green">


				<div class="layui-form-item">
					<label class="layui-form-label">特长：</label>
					<div class="layui-input-block">
						<input id="speciality" type="text" name="speciality" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">爱好：</label>
					<div class="layui-input-block">
						<input id="hobby" type="text" name="hobby" autocomplete="off"
							   class="layui-input" value="">
					</div>
				</div>

				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">备注：</label>
					<div class="layui-input-block">
						<textarea id="remark" name="remark" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="submit" onclick="ModifyEmployee();" class="layui-btn layui-btn-normal">立即提交</button>
					</div>
				</div>
			</form>
		</div>
		<script src="../../static/admin/layui/layui.js" th:src="@{/static/admin/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
		<script src="../static/admin/js/jquery-3.5.1.js" th:src="@{/static/admin/js/jquery-3.5.1.js}"></script>
		<script src="../../static/admin/js/common.js" th:src="@{/static/admin/js/common.js}" type="text/javascript" charset="utf-8"></script>
		<script>
			$(".delete_btn").click(function () {

				$("#del_form").attr("action",$(this).attr("del_url")).submit();
				return false;
			})

			function SearchEmp() {
				if($('#name').val() == "" && $('#deptId').val() == "" && $('#jobId').val() == "") {
					alert("请任意选择一项条件查询");
				}

			}

			function OpenModifyWorker(){
				var tab = document.getElementById("table");
				var tr = tab.getElementsByTagName("tr");
				for (var i = 0;i< tr.length;i++){
					tr[i].onclick = function () {
						var thisTR = this.innerHTML;
						id = $(this).children().eq(1).text();
						$.ajax({
							url: "getemp",
							type: "POST",
							dataType: "json",
							data:{
								"id" : id
							},
							success:function (data) {
								var parse = JSON.parse(data);
								var ID = parse[0].id;
								var dname = parse[0].dname;
								var did = parse[0].did;
								var jid = parse[0].jid;
								var jname = parse[0].jname;
								var name = parse[0].name;
								var cardId = parse[0].card_id;
								var address = parse[0].address;
								var postCode = parse[0].post_code;
								var tel = parse[0].tel;
								var phone = parse[0].phone;
								var qqNum = parse[0].qq_num;
								var email = parse[0].email;
								var sex = parse[0].sex;
								var party = parse[0].party;
								var birthday = parse[0].birthday;
								var race = parse[0].races;
								var education = parse[0].education;
								var speciality = parse[0].speciality;
								var hobby = parse[0].hobby;
								var remark = parse[0].remark;
								alert(dname);
								document.getElementById("id").value = ID;
								document.getElementById("id").innerHTML = ID;

								var sel = document.getElementById("did");
								sel.options[sel.selectedIndex].innerHTML = dname;
								// document.getElementById("did").options[i].value = did;
								// document.getElementById("did").options[i].innerHTML = dname;

								document.getElementById("jid").value = jid;
								document.getElementById("jid").innerHTML = jname;

								document.getElementById("education").value = education;
								document.getElementById("education").innerHTML = education;

								document.getElementById("sex").value = sex;
								document.getElementById("sex").innerHTML = sex;

								document.getElementById("names").value = name;
								document.getElementById("names").innerHTML = name;

								document.getElementById("cardId").value = cardId;
								document.getElementById("cardId").innerHTML = cardId;

								document.getElementById("address").value = address;
								document.getElementById("address").innerHTML = address;

								document.getElementById("postCode").value = postCode;
								document.getElementById("postCode").innerHTML = postCode;

								document.getElementById("tel").value = tel;
								document.getElementById("tel").innerHTML = tel;

								document.getElementById("phone").value = phone;
								document.getElementById("phone").innerHTML = phone;

								document.getElementById("qqNum").value = qqNum;
								document.getElementById("qqNum").innerHTML = qqNum;

								document.getElementById("email").value = email;
								document.getElementById("email").innerHTML = email;

								document.getElementById("party").value = party;
								document.getElementById("party").innerHTML = party;

								document.getElementById("birthday").value = birthday;
								document.getElementById("birthday").innerHTML = birthday;

								document.getElementById("race").value = race;
								document.getElementById("race").innerHTML = race;

								document.getElementById("speciality").value = speciality;
								document.getElementById("speciality").innerHTML = speciality;

								document.getElementById("hobby").value = hobby;
								document.getElementById("hobby").innerHTML = hobby;

								document.getElementById("remark").value = remark;
								document.getElementById("remark").innerHTML = remark;

							}
						});

						layer.open({
							type: 1,
							area: ['600px', '600px'],
							shadeClose: true, //点击遮罩关闭
							content: $('#text')
						});

					}
				}
			}

			var regNumber = /^[1-9]+[0-9]*]*$/;
			function ModifyEmployee() {
				var phone = $("#phone").val();
				if (!regNumber.test(phone) || phone.length != 11) {
					alert("手机号码输入有误");
					return false;
				}
				$.ajax({
					url: "modify_emp",
					type: "POST",
					dataType: "json",
					data: $('#modify_form').serialize(),
					success: function (data) {
						if (data == 1) {
							alert("修改成功");
							top.location.href = "index.html";
						}else{
							alert("修改失败");
						}
					}
				});
			}



		</script>
	</body>

</html>
