<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>添加部门</title>
    <link rel="stylesheet" type="text/css" href="../../admin/layui/css/layui.css"
          th:href="@{/admin/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" href="../../admin/css/admin.css"
          th:href="@{/admin/css/admin.cs}"/>
</head>
<body>
<div class="layui-tab page-content-wrap">
    <ul class="layui-tab-title">
        <li class="layui-this">添加部门</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form id="add_form" class="layui-form" onsubmit="return false" action="#" method="post" style="width: 90%;padding-top: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">部门名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="dname" required lay-verify="required" autocomplete="off"
                               class="layui-input" placeholder="请输入部门名称" value="">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <textarea name="dremark" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" onclick="AddDept();" class="layui-btn layui-btn-normal">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
        </form>
    </div>
</div>
</div>
<script src="../../admin/layui/layui.js" th:src="@{/admin/layui/layui.js}" type="text/javascript"
        charset="utf-8"></script>
<script src="../admin/js/jquery-3.5.1.js" th:src="@{/admin/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:inline="javascript">
    //Demo
    layui.use(['form', 'element'], function () {
        var form = layui.form();
        var element = layui.element();
        form.render();
        //监听信息提交
        // form.on('submit(adminInfo)', function(data){
        //   layer.msg(JSON.stringify(data.field));
        //   return false;
        // });
    });

	function AddDept() {
		$.ajax({
			url:"add_dept",
			type:"POST",
			dataType:"json",
			data:$('#add_form').serialize(),
			success:function (data) {
				if (data == 1){
					alert("添加成功");
					top.location.href="index.html";
				}else if(data == -1){
					alert("添加失败，部门名字重复");
				}else{
                    alert("添加失败，请重新尝试");
                }
			}
		});
	}
</script>
</body>
</html>
