<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>用户查询</title>
	<link rel="stylesheet" type="text/css" href="../../admin/layui2.0/css/layui.css" th:href="@{/admin/layui2.0/css/layui.css}" />
</head>

<body>
<div id="content-wrapper" style="height: 693px; padding-top: 2em;padding-left: 2em" class="wrap-container clearfix">
	<div class="column-content-detail">
		<form id="search_form" class="layui-form" method="get" th:action="@{/search_user}">
			<div class="layui-form-item">
				<div class="layui-inline">
					<input id="number" type="text" name="number"  placeholder="请输入id" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-inline">
					<input id="username" type="text" name="username"  placeholder="请输入姓名" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-inline">
					<input id="phone" type="text" name="phone"  placeholder="请输入手机号" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-inline">
					<select id="roleId" name="roleId" lay-filter="roles">
						<option value="">请选择角色</option>
						<!--									<option value="1">请选择角色</option>-->
						<!--									<option value="2">请选择角色</option>-->
						<!--									<option value="3">请选择角色</option>-->
						<option th:value="${roles.rid}" th:each="roles:${roles}" th:text="${roles.rname}" value=""></option>
					</select>
				</div>
				<button onclick="SearchUser();" class="layui-btn layui-btn-normal">搜索</button>
			</div>


		</form>
		<div class="layui-form" id="table-list">
			<table class="layui-table" lay-even lay-skin="nob">
				<colgroup>
					<col>
					<col class="hidden-xs">
					<col class="hidden-xs">
					<col>
					<col class="hidden-xs">
					<col class="hidden-xs">
					<col>
					<col>
				</colgroup>
				<thead>
				<tr>
					<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
					<th>ID</th>
					<th>用户名</th>
					<th>密码</th>
					<th>手机号</th>
					<th>角色</th>
					<th>注册时间</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody id="table">
				<tr th:each="users:${users}">
					<td><input type="checkbox" name="" lay-skin="primary" data-id="1"></td>
					<td>[[${users.number}]]</td>
					<td>[[${users.username}]]</td>
					<td>[[${users.password}]]</td>
					<td>[[${users.phone}]]</td>
					<!--									<td>[[${users.roleId}]]</td>-->
					<td th:text="${users.role.rname}" ></td>

					<td th:text="${#dates.format(users.createdate,'yyyy-MM-dd')}"></td>
					<td>
						<div class="layui-inline">
							<a class="layui-btn layui-btn-xs layui-btn-normal" type="button" onclick="ModifyRole()" ><i class="layui-icon">&#xe642;</i></a>
							<button th:attr="del_url=@{/delete_user(id=${users.number})}" class="layui-btn layui-btn-xs layui-btn-danger delete_btn" data-id="2" data-url=""><i class="layui-icon">&#xe640;</i></button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<form id="del_form" method="post">
		<input type="hidden" name="_method" value="DELETE">
	</form>

</div>
<div style="display: none" id="text">
	<form onsubmit="return false" action="#" method="post" class="layui-form">
		<div class="layui-form-item">
			<div class="layui-form-item" style="padding-top: 5em;width: 80%">
				<label class="layui-form-label">修改权限：</label>
				<div class="layui-input-block">
					<select id="sel" name="roleId" >
						<option value="">请选择权限</option>
						<option th:value="${roles.rid}" th:each="roles:${roles}" th:text="${roles.rname}" value=""></option>
					</select>
				</div>
				<div class="layui-input-block"  style="padding-top: 4em">
					<button type="submit" class="layui-btn layui-btn-normal" onclick="modify_Role()"  style="float: right;margin-right: 1em">立即提交</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="../../admin/js/jquery-3.5.1.js" th:src="@{/admin/js/jquery-3.5.1.js}"></script>
<script src="../../admin/layui2.0/layui.all.js" th:src="@{/admin/layui2.0/layui.all.js}" type="text/javascript" charset="utf-8"></script>
<script th:align="javascript">
	let id;
	$(".delete_btn").click(function () {

		$("#del_form").attr("action",$(this).attr("del_url")).submit();
		return false;
	})

	function SearchUser() {
		if($('#number').val() == "" && $('#username').val() == "" && $('#phone').val() == "" && $('#roleId').val() == "") {
			alert("请任意选择一项条件查询");
		}

	}

	function ModifyRole(){
		var tab = document.getElementById("table");
		var tr = tab.getElementsByTagName("tr");
		for (var i = 0;i< tr.length;i++){
			tr[i].onclick = function () {
				var thisTR = this.innerHTML;
				id = $(this).children().eq(1).text();


				layer.open({
					type: 1,
					area: ['600px', '360px'],
					shadeClose: true, //点击遮罩关闭
					content: $('#text')
				});

			}
		}


	}

	function modify_Role() {
		var sel = document.getElementById("sel");
		var role_id = sel.value;
		// var options = sel.options;
		// var index = sel.selectedIndex;
		// var role_id = options[index].value;
			$.ajax({
				url:"modify_role"
				,data:{
					"number" : id,
					"role_id" : role_id
				}
				,type:"post"
				,dataType:"json"
				,success:function (data) {
					if (data == 1){
						top.location.href="index.html";
					}else{
						alert("修改失败！");
					}
				}
			})
	}




</script>
</body>

</html>
